Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

fix: stylua
  lua/project/api.lua
Due: make_lint, make_check

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: none

chore: bump version to `v0.6.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

docs(contributing): update and improve documentation
  CONTRIBUTING.md
Due: none

fix(config)!: `allow_different_owners` has been deprecated
  README.md
  doc/project-nvim.txt
  lua/project/api.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check, make_docs

docs: update helptags
  doc/tags
Due: none

chore: bump version to `v0.6.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(health): extend and improve healthcheck
  lua/project/health.lua
  lua/project/util.lua
Due: make_lint, make_check

fix: maintenance
  lua/project/api.lua
  lua/project/util.lua
  lua/project/util/history.lua
Due: make_lint, make_check

fix: ignore `verify_owners()` from certain checks
  lua/project/config.lua
  lua/project/health.lua
Due: make_lint, make_check

fix(health): minor improvements
  lua/project/health.lua
Due: make_lint, make_check

fix(util): correct strip functions
  lua/project/util.lua
Due: make_lint, make_check

fix(history): history deletion was not working properly
  lua/project/util/history.lua
Due: make_lint, make_check

feat(extensions): add `picker.nvim` integration
  README.md
  doc/project-nvim.txt
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/extensions/picker.lua
Due: make_lint, make_check, make_docs

chore: format files with `vim-eof-comment`
  lua/project/extensions/picker.lua
Due: make_lint, make_check

fix: improve documentation and add picker extension keymap
  README.md
  lua/project/extensions/picker.lua
Due: make_lint, make_check

docs: update docs and fix typos
  README.md
  doc/project-nvim.txt
  doc/tags
Due: make_docs

fix(extensions.picker): use proper call to `files`
  lua/project/extensions/picker.lua
Due: make_lint, make_check

refactor(picker): add new setup option, customize highlight
  README.md
  doc/project-nvim.txt
  lua/picker/sources/project.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/extensions/picker.lua
  lua/project/util.lua
Due: make_lint, make_check, make_docs

chore: format files with `vim-eof-comment`
  lua/picker/sources/project.lua
Due: make_lint, make_check

fix(picker)!: use `:Picker projects` instead of `:Picker project`
  lua/picker/sources/projects.lua
  lua/project/extensions/picker.lua
Due: make_lint, make_check

chore: bump version to `v0.7.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: update `:Project` popup and commands spec
  lua/project/commands.lua
  lua/project/extensions/picker.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix(util): validator was not properrly constructed
  lua/project/util.lua
Due: make_lint, make_check

fix: improve command completions, redo popup
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix(util): improve `is_int()`
  lua/project/api.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(commands): improve completion
  lua/project/commands.lua
Due: make_lint, make_check

chore(log): fix warning
  lua/project/util/log.lua
Due: make_lint, make_check

fix: improve commands and completion
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

chore: reorder functions
  lua/project.lua
Due: make_lint, make_check

fix!: `before_attach` and `on_attach` are `nil` by default
  README.md
  doc/project-nvim.txt
  lua/project/config/defaults.lua
Due: make_lint, make_check, make_docs

docs: update documentation
  README.md
  doc/project-nvim.txt
Due: make_docs

chore: ignore `doc/tags`
  .gitignore
  doc/tags
Due: none

fix: allow `:ProjectLog` with no args, sync documentation
  README.md
  lua/project/util/log.lua
Due: make_lint, make_check

chore: moving stuff around
  lua/project/extensions/fzf-lua.lua
  lua/telescope/_extensions/projects.lua
Due: make_lint, make_check

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_docs: any of: doc/.*\.txt$
