Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

docs(readme): mention support for `spinner.nvim`
  README.md
Due: none

feat(spinner): add support for spinner.nvim
  .luarc.json
  doc/project.txt
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util/init.lua
  lua/project/util/spinner.lua
Due: make_lint, make_check, make_docs

chore: bump version to `v6.3.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

chore(config): sort default setup options
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix: maintenance
  lua/project/core.lua
  lua/project/util/init.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/init.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

fix: `core.get_last()` now behaves properly, util function tweaks
  .luarc.json
  lua/project/core.lua
  lua/project/util/history.lua
  lua/project/util/init.lua
Due: make_lint, make_check

fix(core): improve `oil.nvim` detection
  lua/project/core.lua
Due: make_lint, make_check

perf: improve empty table detection
  lua/project/commands.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/init.lua
  lua/project/popup.lua
  lua/telescope/_extensions/projects/actions.lua
Due: make_lint, make_check

chore: bump version to `v6.3.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

refactor!: health not working, utilities improved, sessions work now
  lua/project/config/init.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util/history.lua
Due: make_lint, make_check

chore: improve spinner module calls
  lua/project/config/init.lua
  lua/project/core.lua
Due: make_lint, make_check

refactor: improve `rawset()` calls with a wrapper
  lua/project/config/init.lua
  lua/project/extensions/init.lua
  lua/project/init.lua
  lua/project/util/init.lua
Due: make_lint, make_check

fix(history): manually set recent projects
  lua/project/util/history.lua
Due: make_lint, make_check

fix(log): when clearing the log, close the log window if open
  lua/project/util/log.lua
Due: make_lint, make_check

perf(popup): optimize callback setting
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v6.4.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(readme): improved requirements
  README.md
Due: none

fix: optimize code execution
  lua/lualine/components/project.lua
  lua/picker/sources/projects.lua
  lua/project/commands.lua
Due: make_lint, make_check

ci: run tests in a workflow
  .busted
  .github/workflows/tests.yml
Due: none

fix(core): optimize git detection
  lua/project/core.lua
Due: make_lint, make_check

fix(config): validate logging options
  lua/project/config/defaults.lua
Due: make_lint, make_check

feat(config): add new setup options for logging
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/util/log.lua
  spec/project_history_spec.lua
Due: make_lint, make_check

feat(log): allow for optional debugging through notifications
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/util/log.lua
  spec/project_history_spec.lua
Due: make_lint, make_check

docs(readme): add new install instructions, improve existing ones
  README.md
Due: none

fix: maintenance
  lua/project/core.lua
  lua/project/init.lua
Due: make_lint, make_check

chore: bump version to `v6.4.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `selene.yml`
  .github/workflows/selene.yml
Due: none

ci: update `stylua.yml`
  .github/workflows/stylua.yml
Due: none

ci(pre-commit): update config
  .pre-commit-config.yaml
Due: none

fix: maintenance
  lua/project/init.lua
  lua/project/popup.lua
  lua/project/util/history.lua
  lua/project/util/init.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
Due: make_lint, make_check

feat(mini.pick): add integration with `mini.pick`
  .luarc.json
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/extensions/init.lua
  lua/project/extensions/mini.lua
  lua/project/popup.lua
Due: make_lint, make_check, make_docs

feat(mini.pick): add integration with `mini.pick` (#81)
  .luarc.json
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/extensions/init.lua
  lua/project/extensions/mini.lua
  lua/project/popup.lua
Due: make_lint, make_check, make_docs

ci: fix `selene.yml`
  .github/workflows/selene.yml
Due: none

Revert "feat(mini.pick): add integration with `mini.pick` (#81)"
  .luarc.json
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/extensions/init.lua
  lua/project/extensions/mini.lua
  lua/project/popup.lua
Due: make_lint, make_check, make_docs

ci: update `CHANGELOG.md`, plus `selene.yml` and `stylua.yml` actions
  .github/workflows/selene.yml
  .github/workflows/stylua.yml
  CHANGELOG.md
Due: none

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_docs: any of: doc/.*\.txt$
