Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

refactor: attach hooks are now wrapped into an autocmd
  lua/project/config.lua
  lua/project/core.lua
Due: make_lint, make_check

chore: annotation fixes and other tweaks
  lua/project/_meta.lua
  lua/project/core.lua
Due: make_lint, make_check

test: fix testing
  lua/project/config.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
  spec/project_commands_spec.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

docs(readme): compress README structure considerably
  README.md
Due: none

fix(config.defaults): extend ignored ft/bt lists, fix bad condition
  lua/project/config/defaults.lua
Due: make_lint, make_check

chore(config.defaults): use `Util.path.join()` on a specific line instead
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(history): reduce verbosity for empty history notification
  lua/project/util/history.lua
Due: make_lint, make_check

chore: bump version to `v4.2.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

feat!: attach hooks now recieve the associated buf ID (if available)
  README.md
  doc/project-nvim.txt
  lua/project/_meta.lua
  lua/project/config.lua
  lua/project/core.lua
Due: make_lint, make_check, make_docs

docs(readme): make defaults section more obvious
  README.md
Due: none

fix: extension keymaps documented and fixed
  README.md
  lua/project/extensions/fzf-lua.lua
Due: make_lint, make_check

fix(config): move conditional levels
  lua/project/config.lua
Due: make_lint, make_check

ci: update issue templates
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
Due: none

fix(history): `vim.notify` would trigger error sometimes during fs event
  lua/project/util/history.lua
Due: make_lint, make_check

ci: install test dependencies on `make test`
  Makefile
Due: none

fix(history): local variable triggered errors on multiple sessions
  lua/project/util/history.lua
Due: make_lint, make_check

fix(history): check for filesystem event on history file
  lua/project/util/history.lua
Due: make_lint, make_check

revert: "fix(history): local variable triggered errors on multiple sessions"
  lua/project/util/history.lua
Due: make_lint, make_check

chore: bump version to `v4.2.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: mention migrated history being a requirement for upcoming releases
  README.md
  lua/project/util/history.lua
Due: make_lint, make_check

docs(readme): improve wording for warning
  README.md
Due: none

refactor!: remove legacy history traces
  lua/lualine/components/project.lua
  lua/picker/sources/projects.lua
  lua/project/commands.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

fix: remove deprecated migration
  lua/project/_meta.lua
  lua/project/util/history.lua
Due: make_lint, make_check

docs(readme): remove mention of migration
  README.md
Due: none

chore: bump version to `v5.0.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: maintenance
  lua/project/_meta.lua
  lua/project/config.lua
  lua/project/util/path.lua
Due: make_lint, make_check

Fix error intermitent error message due to missing arguments
  lua/project/util/history.lua
Due: make_lint, make_check

ci: update `checkout` action to `v6.0.3`
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
  .github/workflows/selene.yml
  .github/workflows/stylua.yml
  .github/workflows/vim-eof-comment.yml
Due: none

chore: variable renaming
  lua/project/core.lua
Due: make_lint, make_check

feat: add `require('project').current_root()` for getting current root
  lua/project.lua
Due: make_lint, make_check

docs: fix outdated helpdocs
  doc/project-nvim.txt
Due: make_docs

chore: bump version to `v5.0.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_docs: any of: doc/.*\.txt$
