Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

feat!: new `custom_projects` option (closes #66)
  lua/project/_meta.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/util/path.lua
Due: make_lint, make_check

docs(readme): add custom projects instructions
  README.md
Due: none

test: fix improper definitions for tests
  lua/project/config.lua
  lua/project/util/history.lua
Due: make_lint, make_check

docs: update documentation
  doc/project-nvim.txt
Due: make_docs

chore: bump version to `v3.5.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

docs(readme): update TOC
  README.md
Due: none

fix: improve `error()` calls, allow retrieving options with no metatable
  lua/project.lua
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/main.lua
Due: make_lint, make_check

test: sync setup spec with current changes
  spec/project_setup_spec.lua
Due: none

fix: metatable manipulation
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
Due: make_lint, make_check

fix: maintenance
  lua/project/core.lua
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v3.5.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(core)!: only store session projects with opened buffers
  lua/project/core.lua
Due: make_lint, make_check

fix(core)!: only store session projects with opened buffers (#68)
  lua/project/core.lua
Due: make_lint, make_check

chore: bump version to `v4.0.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(readme): update video showcase
  README.md
Due: none

refactor(commands)!: combine all commands into `:Project` alone
  README.md
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/picker.lua
  lua/project/extensions/snacks.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/log.lua
  lua/telescope/_extensions/projects.lua
Due: make_lint, make_check

refactor(commands)!: merge all user commands into `:Project` (#69)
  README.md
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/picker.lua
  lua/project/extensions/snacks.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/log.lua
  lua/telescope/_extensions/projects.lua
Due: make_lint, make_check

fix(core): per-project buffers are now associated with edited files
  lua/project/core.lua
Due: make_lint, make_check

perf(core): don't run stripping function twice
  lua/project/core.lua
Due: make_lint, make_check

perf: use metatables to improve performance
  lua/lualine/components/project.lua
  lua/picker/sources/projects.lua
  lua/project.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/extensions.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/picker.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

chore: bump version to `v4.1.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(commands): restructure `commands.lua`
  lua/project/commands.lua
  lua/project/config.lua
Due: make_lint, make_check

chore: rename files
  .stylua.toml
  .taplo.toml
Due: none

perf: improve main module calls
  lua/project.lua
  lua/project/_meta.lua
Due: make_lint, make_check

fix(core): improve last project detection
  lua/project/core.lua
Due: make_lint, make_check

fix(health): improve and update healthcheck messages
  lua/project/health.lua
Due: make_lint, make_check

fix(popup): improve UI menu item formatting
  lua/project/popup.lua
Due: make_lint, make_check

fix(history): annotations fixed
  lua/project/util/history.lua
Due: make_lint, make_check

fix: annotations fixed, improved code
  lua/project.lua
  lua/project/_meta.lua
  lua/project/core.lua
Due: make_lint, make_check

chore: bump version to `v4.1.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

chore: corrected mentions of old commands
  lua/project/_meta.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util/history.lua
Due: make_lint, make_check

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_docs: any of: doc/.*\.txt$
