Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_clean, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflow files
        description: Runs actionlint to lint GitHub Actions workflow files
        language: golang
        types: [yaml]
        files: ^\.github/workflows/
        entry: actionlint
        minimum_pre_commit_version: 3.0.0
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_clean
        name: Clean help tags
        language: system
        entry: "make clean"
        files: doc/.*\.txt$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true

fix: move files around and rewrote `require()` statements
  lua/project.lua
  lua/project/api.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/globtopattern.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

chore: update `Makefile`
  Makefile
Due: none

chore: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

chore: format files with `vim-eof-comment`
  CHANGELOG.md
Due: none

docs(readme): fix bad link
  README.md
Due: none

fix: annotation fixes
  lua/project/util.lua
  lua/project/util/globtopattern.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

refactor(log)!: merge `:ProjectLogClear` into `:ProjectLog`
  lua/project/util/log.lua
Due: make_lint, make_check

docs: update documentation
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs

fix: annotations fixed and code optimizations
  lua/project/api.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

chore: bump version to `v0.5.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(changelog): update file
  CHANGELOG.md
Due: none

ci: update `vim-eof-comment.yml`
  .github/workflows/vim-eof-comment.yml
Due: none

fix(commands): extend usage for `:ProjectAdd`
  lua/project/commands.lua
Due: make_lint, make_check

fix(commands): tweak `:ProjectFzf` and `:ProjectLog`
  lua/project/extensions/fzf-lua.lua
  lua/project/util/log.lua
Due: make_lint, make_check

chore(config): maintenance
  lua/project/config.lua
Due: make_lint, make_check

refactor(history)!: from now on store history in a JSON file instead
  lua/project/commands.lua
  lua/project/popup.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix(history): prevent file descriptor leakage
  lua/project/api.lua
  lua/project/util/history.lua
Due: make_lint, make_check

fix(extensions.fzf-lua): invoke command creation if enabled on setup
  lua/project/config.lua
  lua/project/extensions/fzf-lua.lua
Due: make_lint, make_check

chore: bump version to `v0.5.2-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix: history file would not open in `:Project` prompt
  lua/project/popup.lua
  lua/project/util/history.lua
Due: make_lint, make_check

fix(history): don't append to history file, collect data instead
  lua/project/util/history.lua
Due: make_lint, make_check

fix(popup)!: rename `:Project` menu option
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v0.5.3-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: annotation improvements
  lua/project.lua
  lua/project/api.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(health): improve health file
  lua/project/health.lua
Due: make_lint, make_check

fix(api): optimizations
  lua/project/api.lua
Due: make_lint, make_check

chore: bump version to `v0.5.4-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(util): `vim.fn.glob()` was throwing errors
  lua/project/util.lua
Due: make_lint, make_check

fix: maintenance and centralized file opening
  lua/project/api.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

docs: update `TODO.md`
  TODO.md
Due: none

feat(api): add logging debug message on directory change
  lua/project/api.lua
Due: make_lint, make_check

chore(config): variable renaming
  lua/project/config.lua
Due: make_lint, make_check

fix(history): account for missing file descriptor (closes #43)
  lua/project/util/history.lua
Due: make_lint, make_check

fix(history): add empty array in JSON file
  lua/project/util/history.lua
Due: make_lint, make_check
