Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_clean, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint
        name: Lint GitHub Actions workflow files
        description: Runs actionlint to lint GitHub Actions workflow files
        language: golang
        types: [yaml]
        files: ^\.github/workflows/
        entry: actionlint
        minimum_pre_commit_version: 3.0.0
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_clean
        name: Clean help tags
        language: system
        entry: "make clean"
        files: doc/.*\.txt$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true

tests: tighten tests
  tests/helpers.lua
  tests/test_config.lua
Due: none

feat: add `:ProjectExportJSON` to export project history
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

feat: add `:ProjectExportJSON` to export project history (#33)
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

ci(pre-commit): remove `actionlint` hook
  .pre-commit-config.yaml
Due: none

fix(popup): add submenu for JSON exporting
  lua/project/popup.lua
Due: make_lint, make_check

fix: update `:Project` popup with new utility
  lua/project/popup.lua
Due: make_lint, make_check

docs: update documentation with new additions
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs

feat: add `:ProjectImportJSON` to import custom history files
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

feat: add `:ProjectImportJSON` and optimize docs
  README.md
  doc/project-nvim.txt
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check, make_clean, make_docs

feat: add :ProjectImportJSON to import custom history files (#34)
  README.md
  doc/project-nvim.txt
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check, make_clean, make_docs

fix(config): simplify config win hook with a toggle function
  lua/project/commands.lua
  lua/project/config.lua
Due: make_lint, make_check

fix: `ProjectImportJSON` / `ProjectExportJSON` maintenance
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

chore(ci): remove greeter action
  .github/workflows/greetings.yml
Due: none

chore: bump version to `v0.2.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: add gzip release tarball
  .github/workflows/release.yml
Due: none

ci: merge `luarocks.yml` with `release.yml`
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
Due: none

chore: bump version to `v0.2.1-1`
  .github/workflows/release.yml
  version.txt
Due: none

revert: "ci: merge `luarocks.yml` with `release.yml`"
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
Due: none

chore: bump version to `v0.2.2-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(popup): add `:ProjectImportJSON`
  lua/project/popup.lua
Due: make_lint, make_check

fix: correct directory detection in import/export functions
  lua/project/popup.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

chore: bump version to `v0.2.3-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: allow for no args for export/import user commands
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix: sanitize input for import/export functions
  lua/project/popup.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

docs: update docs to recent changes
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs

chore: bump version to `v0.2.4-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(history)!: add notifications and ensure confirmation (export/import)
  lua/project/utils/history.lua
Due: make_lint, make_check

fix!: update behaviour of some commands by toggling the window instead
  README.md
  doc/project-nvim.txt
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/utils/history.lua
  lua/project/utils/log.lua
Due: make_lint, make_check, make_clean, make_docs

docs: restructure the import/export docs
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs

chore: bump version to `v0.2.5-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(readme): add extra link to LuaRocks page
  README.md
Due: none

docs(readme): fix top section listings
  README.md
Due: none

docs(readme): improvements
  README.md
Due: none

docs: update other Markdown files
  CONTRIBUTING.md
  CREDITS.md
  TODO.md
Due: none

refactor(history): split deleions into separate functions
  lua/project/utils/history.lua
Due: make_lint, make_check

ci: clean up `scripts/deps.sh` from useless code
  scripts/deps.sh
Due: none

chore: update `Makefile`
  Makefile
Due: none

chore: change indentation from 4 to 2 spaces
  lua/project.lua
  lua/project/api.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/utils/globtopattern.lua
  lua/project/utils/history.lua
  lua/project/utils/log.lua
  lua/project/utils/path.lua
  lua/project/utils/util.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
  scripts/minimal_init.lua
  stylua.toml
  tests/helpers.lua
  tests/test_config.lua
Due: make_lint, make_check

chore: bump version to `v0.2.6-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs: update documentation
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs
