Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

chore: annotation and code tweaks
  lua/project/commands.lua
  lua/telescope/_extensions/projects/init.lua
Due: make_lint, make_check

perf: code improvements
  lua/picker/sources/projects.lua
  lua/project/health.lua
  lua/project/init.lua
Due: make_lint, make_check

docs: beautify helpdoc
  doc/project.txt
Due: make_docs

fix: add `:Project session clear`, improve annotations
  lua/project/commands.lua
  lua/project/popup.lua
  lua/project/util/history.lua
Due: make_lint, make_check

perf: improve annotations and limit return values from libuv calls
  lua/project/_meta.lua
  lua/project/popup.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix(extensions.fzf-lua): new cycled keybind
  lua/project/extensions/fzf-lua.lua
Due: make_lint, make_check

docs(readme): fix hyperlinks, improve structure
  README.md
Due: none

fix: improve functions
  lua/project/init.lua
Due: make_lint, make_check

fix(config): add `snacks_picker_input` to ignored filetypes
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(core): improve code
  lua/project/core.lua
Due: make_lint, make_check

fix(commands): improve command completion and execution
  lua/project/commands.lua
Due: make_lint, make_check

chore: bump version to `v6.1.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix(config): improve defaults, remove excess diagnostic toggles
  lua/project/config/defaults.lua
Due: make_lint, make_check

chore: compress `.luarc.json`
  .luarc.json
Due: none

fix: annotation fixes and performance improvements
  lua/project/_meta.lua
  lua/project/core.lua
Due: make_lint, make_check

fix: maintenance
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/popup.lua
Due: make_lint, make_check

feat!: add `use_git` setup option to calculate the root using `git`
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/core.lua
Due: make_lint, make_check, make_docs

fix(config.defaults): use `lsp` method first, then `git` if available
  lua/project/config/defaults.lua
Due: make_lint, make_check

docs(readme): add entry to features list
  README.md
Due: none

feat!: add setup option to calculate the root using `git` (#79)
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/core.lua
Due: make_lint, make_check, make_docs

chore: bump version to `v6.2.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(git): optimize detection for `git` executable
  lua/project/config/defaults.lua
  lua/project/core.lua
Due: make_lint, make_check

fix: performance tweaks, annotations fixed
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/core.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
Due: make_lint, make_check

docs(readme): improve badges
  README.md
  lua/project/popup.lua
Due: make_lint, make_check

feat!: allow custom sessions to be looked up for with a selected method
  lua/project/_meta.lua
  lua/project/core.lua
  lua/project/popup.lua
  lua/project/util/path.lua
Due: make_lint, make_check

docs(readme): tweak and improve project description
  README.md
Due: none

chore: bump version to `v6.2.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: maintenance
  .markdownlint.yaml
  lua/project/config/init.lua
  lua/project/core.lua
  spec/project_history_spec.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

fix: improved code, warnings, performance and lazy-loading
  lua/project/config/init.lua
  lua/project/core.lua
  lua/project/extensions/init.lua
  lua/project/extensions/snacks.lua
  lua/project/init.lua
  lua/project/util/globtopattern.lua
  lua/project/util/history.lua
  lua/project/util/init.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  spec/project_history_spec.lua
Due: make_lint, make_check

perf(config): improve config printing, use float table directly
  lua/project/config/init.lua
Due: make_lint, make_check

chore: improve return value
  lua/project/init.lua
Due: make_lint, make_check

feat(spinner): add support for spinner.nvim
  .luarc.json
  doc/project.txt
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/config/init.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util/init.lua
  lua/project/util/spinner.lua
Due: make_lint, make_check, make_docs

fix: optimize `util.executable()`
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util/init.lua
Due: make_lint, make_check

docs(readme): mention support for `spinner.nvim`
  README.md
Due: none

perf(spinner): optimize spinner cleanup and improve object methods
  lua/project/util/spinner.lua
Due: make_lint, make_check

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_docs: any of: doc/.*\.txt$
