Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true
# vim: set ts=2 sts=2 sw=2 et ai si sta:

ci: update `release.yml`
  .github/workflows/release.yml
Due: none

chore: bump version to `v1.0.4-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: annotations improved
  lua/project.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(telescope): improvements
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/main.lua
Due: make_lint, make_check

fix(config): force normal mode when opening window
  lua/project/config.lua
Due: make_lint, make_check

test: improve tests
  spec/project_commands_spec.lua
  spec/project_history_spec.lua
  spec/project_setup_spec.lua
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix(config): add validations for most setup options
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(util): `Util.is_int()` was not behaving properly
  lua/project/util.lua
Due: make_lint, make_check

docs: remove `TODO.md`
  README.md
  TODO.md
Due: none

chore: bump version to `v1.0.5-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

feat(api): add initial `oil.nvim` support (closes #53)
  lua/project/api.lua
Due: make_lint, make_check

docs(readme): mention `oil.nvim` support
  README.md
Due: none

chore: bump version to `v1.1.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(readme): add missing commands in lazy-loading (closes #55)
  README.md
Due: none

docs: fix `CREDITS.md`
  CREDITS.md
Due: none

fix(api): optimizations
  lua/project/api.lua
Due: make_lint, make_check

docs: improve help docs
  doc/project-nvim.txt
Due: make_docs

fix: code optimized
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

feat(lualine): add custom lualine component
  README.md
  doc/project-nvim.txt
  lua/lualine/components/project.lua
Due: make_lint, make_check, make_docs

chore: bump version to `v2.0.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(logging): improved logs
  lua/lualine/components/project.lua
  lua/project/api.lua
  lua/project/config.lua
  lua/project/extensions/picker.lua
  lua/project/util/history.lua
Due: make_lint, make_check

refactor: centralize fetching and setting for Vim options
  lua/lualine/components/project.lua
  lua/project/api.lua
  lua/project/config.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
Due: make_lint, make_check

docs: lint markdown files
  .markdownlint.yaml
  CONTRIBUTING.md
  README.md
Due: none

fix(license): update copyright date
  LICENSE
Due: none

docs(readme): fix and lint documentation
  README.md
Due: none

fix(picker): improved code
  lua/picker/sources/projects.lua
Due: make_lint, make_check

feat: add `add_root_patterns()` and `remove_root_patterns()`
  lua/project.lua
Due: make_lint, make_check

chore(config.defaults): improved annotations
  lua/project/config/defaults.lua
Due: make_lint, make_check

refactor!: start migration to named history entries
  lua/project/health.lua
  lua/project/util.lua
  lua/project/util/history.lua
Due: make_lint, make_check

feat(config): add `fzf_lua.sort` option
  README.md
  doc/project-nvim.txt
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/health.lua
Due: make_lint, make_check, make_docs

feat(extensions.fzf_lua): use the `fzf_lua.sort` setup option
  lua/project/extensions/fzf-lua.lua
Due: make_lint, make_check

fix: corrected `Util.reverse()` annotations
  lua/project/api.lua
  lua/project/commands.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

fix(config): annotations fixed
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

chore: format with StyLua
  lua/project/api.lua
  lua/project/commands.lua
Due: make_lint, make_check
