Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_clean, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_clean:
  name: Clean help tags
  language: system
  entry: make clean
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

fix(config): proper buffer/window options handling
  lua/project/config.lua
Due: make_lint, make_check

fix(log): do not access the logfile directly, instead copy data
  lua/project/utils/log.lua
Due: make_lint, make_check

chore: bump version to `v0.4.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(commands): add validations and improve annotations
  lua/project/commands.lua
Due: make_lint, make_check

fix(config): improve annotations
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

docs: use `markdownlint` on `README.md`
  .markdownlint.yaml
  README.md
Due: none

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: none

chore: format files with `vim-eof-comment`
  .markdownlint.yaml
Due: none

chore(markdownlint): update config
  .markdownlint.yaml
Due: none

feat(commands): add completion to `:Project` user command
  lua/project/commands.lua
Due: make_lint, make_check

fix(commands): actually make `:Project ...` usable
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix(commands): maintenance
  lua/project/commands.lua
Due: make_lint, make_check

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

chore: format files with `vim-eof-comment`
  CHANGELOG.md
Due: none

chore: bump version to `v0.4.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix!: complete `:ProjectDelete` with un-expanded paths
  lua/project/commands.lua
  lua/project/utils/history.lua
Due: make_lint, make_check

fix(commands)!: external plugin commands get registered if they exist
  lua/project/commands.lua
  lua/project/extensions/fzf-lua.lua
  lua/telescope/_extensions/projects.lua
Due: make_lint, make_check

chore(make): restructure `Makefile`
  Makefile
Due: none

chore(health): maintenance
  lua/project/health.lua
Due: make_lint, make_check

fix: maintenance
  lua/project/utils/history.lua
  lua/project/utils/log.lua
  lua/project/utils/path.lua
  lua/project/utils/util.lua
Due: make_lint, make_check

refactor(config)!: options for LSP merged in table, new LSP option
  README.md
  doc/project-nvim.txt
  lua/project/api.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check, make_clean, make_docs

fix(api): correct old settings
  lua/project/api.lua
Due: make_lint, make_check

fix(config): call `verify_lsp()` by default, add it to ignored printing
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(config): set deprecated options as `nil` in annotations
  lua/project/config/defaults.lua
Due: make_lint, make_check

chore(config): annotations fixed
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(api): avoid using magic numbers
  lua/project/api.lua
Due: make_lint, make_check

chore(api): annotation enhancements
  lua/project/api.lua
Due: make_lint, make_check

chore: bump version to `v0.5.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(config): clean options table by default
  lua/project/config/defaults.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

chore: annotation fix
  lua/project.lua
Due: make_lint, make_check

chore: update `Makefile`
  Makefile
Due: none

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_clean: any of: doc/.*\.txt$
  make_docs: any of: doc/.*\.txt$
