Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true
# vim: set ts=2 sts=2 sw=2 et ai si sta:

chore: bump version to `v1.0.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(picker): re-open picker when running keymap actions
  lua/picker/sources/projects.lua
Due: make_lint, make_check

chore(history): variable renaming
  lua/project/util/history.lua
Due: make_lint, make_check

feat: add `snacks.nvim` integration
  README.md
  doc/project-nvim.txt
  lua/project/config/defaults.lua
  lua/project/extensions/snacks.lua
Due: make_lint, make_check, make_docs

fix(history): `:ProjectExportJSON` would throw errors
  lua/project/util/history.lua
Due: make_lint, make_check

fix(config): actually set up snacks picker
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

fix(history)!: add `clear` argument to `:ProjectHistory`
  README.md
  doc/project-nvim.txt
  lua/project/commands.lua
  lua/project/util/history.lua
Due: make_lint, make_check, make_docs

fix: add `<C-w>` mapping to `fzf-lua`, code maintenance
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
  lua/project/util/history.lua
  lua/telescope/_extensions/projects/actions.lua
Due: make_lint, make_check

chore: bump version to `v1.0.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: add `pull_request_template.md`
  .github/pull_request_template.md
Due: none

chore: format files with `vim-eof-comment`
  .github/pull_request_template.md
Due: none

docs(contributing): update documentation
  CONTRIBUTING.md
Due: none

feat(snacks): keep default prompt
  README.md
  lua/project/extensions/snacks.lua
Due: make_lint, make_check

fix(snacks): update title text
  README.md
  lua/project/extensions/snacks.lua
Due: make_lint, make_check

docs(contributor): contrib-readme-action has updated readme
  README.md
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix!: renamed `:ProjectExportJSON` and `:ProjectImportJSON`
  README.md
  lua/project/commands.lua
Due: make_lint, make_check

fix(popup): shorten popup paths
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v1.0.2-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs: update docs
  doc/project-nvim.txt
Due: make_docs

ci: remove `contrib.yml`
  .github/workflows/contrib.yml
Due: none

docs: remove contributors/collaborators
  README.md
Due: none

fix(popup): popups weren't working properly
  lua/project/popup.lua
Due: make_lint, make_check

fix(commands): improve usage warnings
  lua/project/commands.lua
Due: make_lint, make_check

fix(commands): improve commands
  lua/project/commands.lua
Due: make_lint, make_check

docs: update documentation
  README.md
  doc/project-nvim.txt
Due: make_docs

fix(config): verify setup option arrays
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/health.lua
Due: make_lint, make_check

fix: small code optimizations
  lua/picker/sources/projects.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(picker): improve code
  lua/picker/sources/projects.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(path): implement Windows drive letter fix
  lua/project/util/path.lua
Due: make_lint, make_check

feat: code of conduct
  CODE_OF_CONDUCT.md
Due: none

chore: bump version to `v1.0.3-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none
