Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true
# vim: set ts=2 sts=2 sw=2 et ai si sta:

ci: update workflows
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
  .github/workflows/selene.yml
  .github/workflows/stylua.yml
Due: none

chore: bump version to `v5.2.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `release.yml`
  .github/workflows/release.yml
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix: maintenance
  lua/project.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
Due: make_lint, make_check

fix(config): verification maintenance
  lua/project/config/defaults.lua
Due: make_lint, make_check

refactor(telescope)!: rename `change_working_directory` action
  README.md
  doc/project.txt
  lua/project/_meta.lua
  lua/project/config/defaults.lua
  lua/project/util.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/main.lua
Due: make_lint, make_check, make_docs

ci: improve `.luarc.json`
  .luarc.json
Due: none

fix: remove `MODSTR` variable from modules
  lua/project/_meta.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/picker.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/util.lua
Due: make_lint, make_check

fix(popup): small code tweaks
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v5.3.0-1`
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
  .github/workflows/selene.yml
  .github/workflows/stylua.yml
  version.txt
Due: none

fix: maintenance
  lua/project.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/picker.lua
  lua/project/util/history.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

fix(lualine): component tweak
  lua/lualine/components/project.lua
Due: make_lint, make_check

docs(license)!: change license from Apache-2.0 to GPLv2
  LICENSE
Due: none

chore: bump version to `v6.0.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

docs(readme): change license link
  README.md
Due: none

refactor: better handling for multiple sessions
  lua/lualine/components/project.lua
  lua/picker/sources/projects.lua
  lua/project.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util/history.lua
Due: make_lint, make_check

fix: improved fzf-lua extension, addressed bad config option calls
  lua/project.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix: improve performance and module calls
  lua/picker/sources/projects.lua
  lua/project/_meta.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
Due: make_lint, make_check

docs: add missing snacks extension option to helpdoc
  doc/project.txt
Due: make_docs

fix: maintenance
  lua/project.lua
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/core.lua
  lua/project/health.lua
  lua/project/util.lua
Due: make_lint, make_check

fix(popup): improved code quality
  lua/project/popup.lua
Due: make_lint, make_check

fix(core): maintenance
  lua/project/core.lua
Due: make_lint, make_check

fix(core): remove `write_history()` from `refresh_project_bufs()`
  lua/project/core.lua
Due: make_lint, make_check

fix(core): remove `write_history()` from `refresh_project_bufs()` (#78)
  lua/project/core.lua
Due: make_lint, make_check

fix(history): avoid recursion crash for `get_recent_projects()`
  lua/project/util/history.lua
Due: make_lint, make_check

fix: remove redundant calls to `write_history()`
  lua/project/commands.lua
  lua/project/core.lua
  lua/project/popup.lua
Due: make_lint, make_check

chore: bump version to `v6.0.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

chore(commands): fix usage notification
  lua/project/commands.lua
Due: make_lint, make_check

fix!: maintenance, remove support for `vim.loop`
  lua/lualine/components/project.lua
  lua/picker/sources/projects.lua
  lua/project/core.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
  spec/project_commands_spec.lua
  spec/project_history_spec.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

chore: rename main modules
  lua/project/config/init.lua
  lua/project/extensions/init.lua
  lua/project/init.lua
  lua/project/util/init.lua
  lua/telescope/_extensions/projects/init.lua
Due: make_lint, make_check

perf: decrease amount of function calls
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/util/history.lua
  lua/project/util/path.lua
Due: make_lint, make_check

docs(readme): remove reference to deleted breaking changes wiki page
  README.md
Due: none

perf: improved conditions
  lua/project/popup.lua
  lua/project/util/init.lua
  lua/project/util/log.lua
Due: make_lint, make_check

chore: bump version to `v6.0.2-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix(popup): improved and compressed code
  lua/project/popup.lua
Due: make_lint, make_check

fix(popup): wrong conditional, improved code
  lua/project/popup.lua
Due: make_lint, make_check
