Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_docs

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: remove-crlf
      - id: forbid-crlf # Forbid files containing CRLF end-lines to be committed
  - repo: local
    hooks:
      - id: make_lint
        name: Run StyLua
        language: system
        entry: "make lint"
        files: (lua|test)/.*lua$
        verbose: true
      - id: make_check
        name: Run Selene
        language: system
        entry: "make check"
        files: lua/.*lua$
        verbose: true
      - id: make_docs
        name: Generate local help tags
        language: system
        entry: make
        files: doc/.*\.txt$
        verbose: true
# vim: set ts=2 sts=2 sw=2 et ai si sta:

ci: add editorconfig
  .editorconfig
Due: none

chore: rename class type
  lua/project/_meta.lua
  lua/project/util.lua
  lua/project/util/log.lua
Due: make_lint, make_check

perf: optimize module calls
  lua/project/commands.lua
  lua/project/extensions/picker.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/telescope/_extensions/projects.lua
Due: make_lint, make_check

refactor!: allow for easier mapping for `on_attach` hook
  .editorconfig
  README.md
  lua/project/_meta.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/util.lua
  lua/project/util/log.lua
Due: make_lint, make_check

docs(readme): improve defaults descriptions
  README.md
Due: none

docs: rename helpdoc, update with new name
  README.md
  doc/project.txt
Due: make_docs

fix: fire warning when calling bang (`!`) in command that doesn't need it
  lua/project/_meta.lua
  lua/project/commands.lua
Due: make_lint, make_check

chore: bump version to `v5.1.0-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

fix: maintenance
  lua/project.lua
Due: make_lint, make_check

chore: variable renaming
  lua/project/util/history.lua
Due: make_lint, make_check

refactor(config)!: make config only accessible through operators
  lua/lualine/components/project.lua
  lua/project.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
  lua/telescope/_extensions/projects/actions.lua
  lua/telescope/_extensions/projects/healthcheck.lua
  lua/telescope/_extensions/projects/main.lua
  lua/telescope/_extensions/projects/util.lua
  spec/project_setup_spec.lua
Due: make_lint, make_check

fix(picker.nvim): missed changing config module field
  .gitignore
  .luarc.json
  lua/picker/sources/projects.lua
Due: make_lint, make_check

chore: annotation fixes
  lua/picker/sources/projects.lua
  lua/project/_meta.lua
Due: make_lint, make_check

fix(commands): improved code
  lua/project/commands.lua
Due: make_lint, make_check

fix(history): setting history size to `0` was not behaving properly
  lua/project/util/history.lua
Due: make_lint, make_check

fix(history): improve debug messages
  lua/project/util/history.lua
Due: make_lint, make_check

chore: bump version to `v5.1.1-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: missing `return` in function
  lua/project.lua
Due: make_lint, make_check

refactor: code maintenance, annotations fixed, and other tweaks
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/popup.lua
  lua/project/util/log.lua
Due: make_lint, make_check

refactor(popup): improve code quality
  lua/project/_meta.lua
  lua/project/popup.lua
Due: make_lint, make_check

chore: update `.luarc.json`
  .luarc.json
Due: none

fix: annotations and bad function call
  lua/project.lua
  lua/project/core.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix(core): accept paths in `find_pattern_root()`
  lua/project/core.lua
Due: make_lint, make_check

chore: maintenance
  .luarc.json
  lua/project.lua
  lua/project/core.lua
Due: make_lint, make_check

fix: maintenance
  lua/lualine/components/project.lua
  lua/project/core.lua
  lua/project/popup.lua
Due: make_lint, make_check

fix: maintenance
  lua/project.lua
  lua/project/_meta.lua
  lua/project/commands.lua
  lua/project/config.lua
  lua/project/core.lua
  lua/project/extensions/fzf-lua.lua
  lua/project/health.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix(fzf-lua): enable Tab multi-select for project deletion
  lua/project/extensions/fzf-lua.lua
Due: make_lint, make_check

docs: update delete_project keymap descriptions for multi-select
  README.md
Due: none

feat: multi-project deletion with single confirmation prompt
  lua/project/extensions/fzf-lua.lua
  lua/project/extensions/snacks.lua
  lua/project/util/history.lua
  lua/telescope/_extensions/projects/actions.lua
Due: make_lint, make_check

fix: tabs/floating windows were not respecting multiple sessions
  lua/project/config.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
Due: make_lint, make_check

ci: remove `vim-eof-comment.yml`
  .github/workflows/vim-eof-comment.yml
Due: none

docs(readme): syntax fixes
  README.md
Due: none

docs(readme): improve pattern matching section
  README.md
Due: none

docs(readme): improvements
  README.md
Due: none

docs(readme): fix `mini.starter` section
  README.md
Due: none
