Repository DrKJeff16/project.nvim: changes, and which pre-commit hooks are due for each by the changed paths.
All: make_lint, make_check, make_clean, make_docs

make_lint:
  name: Run StyLua
  language: system
  entry: make lint
  verbose: true

make_check:
  name: Run Selene
  language: system
  entry: make check
  verbose: true

make_clean:
  name: Clean help tags
  language: system
  entry: make clean
  verbose: true

make_docs:
  name: Generate local help tags
  language: system
  entry: make
  verbose: true

fix: expand paths in `:ProjectAdd`
  lua/project/commands.lua
  lua/project/util/history.lua
Due: make_lint, make_check

fix(api): write history on directory change
  lua/project/api.lua
Due: make_lint, make_check

fix(history): account for missing file descriptor (closes #43)
  lua/project/util/history.lua
Due: make_lint, make_check

fix(history): add empty array in JSON file
  lua/project/util/history.lua
Due: make_lint, make_check

chore: bump version to `v0.5.5-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

ci: update `CHANGELOG.md`
  CHANGELOG.md
Due: none

ci: update `vim-eof-comment.yml`
  .github/workflows/vim-eof-comment.yml
Due: none

chore: format files with `vim-eof-comment`
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/contrib.yml
  .github/workflows/luarocks.yml
  .github/workflows/release.yml
  .github/workflows/selene.yml
  .github/workflows/stylua.yml
  .github/workflows/vim-eof-comment.yml
  vim.yml
Due: none

fix(config): improve annotations
  lua/project/config.lua
  lua/project/config/defaults.lua
Due: make_lint, make_check

docs: update documentation
  doc/project-nvim.txt
Due: make_clean, make_docs

fix(api): remove useless parameter in `on_buf_enter()`
  lua/project/api.lua
  lua/project/commands.lua
Due: make_lint, make_check

chore: don't ignore `doc/tags`
  .gitignore
  doc/tags
Due: none

chore(docs): documentation improvements
  .pre-commit-config.yaml
  doc/project-nvim.txt
  doc/tags
Due: make_clean, make_docs

ci(pre-commit): update hooks
  .pre-commit-config.yaml
Due: none

fix(log): running `:ProjectLog clear` wasn't working
  lua/project/util/log.lua
Due: make_lint, make_check

fix(history): allow writing to custom output, tests made
  lua/project/util/history.lua
  spec/project_history_spec.lua
Due: make_lint, make_check

fix(history): add more unit tests
  lua/project/util/history.lua
  spec/project_history_spec.lua
Due: make_lint, make_check

test: improve unit tests
  Makefile
  spec/project_history_spec.lua
Due: none

test: add command unit tests and optimize setup ones
  spec/project_commands_spec.lua
  spec/project_setup_spec.lua
Due: none

chore: bump version to `v0.5.6-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: handle tab closing gracefully
  lua/project/util/history.lua
  lua/project/util/log.lua
Due: make_lint, make_check

fix: move `Api.verify_owner()` to `Path.verify_owner()`
  lua/project/api.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix: make log option in menu more dynamic
  lua/project/commands.lua
  lua/project/popup.lua
Due: make_lint, make_check

refactor(log)!: `:ProjectLog` now needs arguments by default
  lua/project/util/log.lua
Due: make_lint, make_check

docs: update documentation
  README.md
  doc/project-nvim.txt
Due: make_clean, make_docs

docs(readme): syntax fixes
  README.md
Due: none

docs(readme): add new showcase
  README.md
Due: none

chore: bump version to `v0.5.7-1`
  .github/workflows/luarocks.yml
  version.txt
Due: none

fix: annotations simplified/corrected
  lua/project.lua
  lua/project/api.lua
  lua/project/config.lua
  lua/project/config/defaults.lua
  lua/project/popup.lua
  lua/project/util.lua
  lua/project/util/history.lua
  lua/project/util/log.lua
  lua/project/util/path.lua
Due: make_lint, make_check

fix(api)!: don't run on unloaded/invalid buffers
  lua/project/api.lua
Due: make_lint, make_check

fix(api): improve buffer validation
  lua/project/api.lua
Due: make_lint, make_check

ci: update GitHub issue templates
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
Due: none

chore: improve `Makefile`
  Makefile
Due: none

fix: remove buflisted guard
  lua/project/api.lua
Due: make_lint, make_check

fix: stylua
  lua/project/api.lua
Due: make_lint, make_check

Path conditions:
  make_lint: any of: (lua|test)/.*lua$
  make_check: any of: lua/.*lua$
  make_clean: any of: doc/.*\.txt$
  make_docs: any of: doc/.*\.txt$
